<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/demo.css"%}">
    <title></title>
  </head>
  <body>
    <h1>hello presentation</h1>
    {% if list %}
    <table>
      <thead>
        <th>name</th>
        <th>age</th>
      </thead>
    {% for each in list %}
    <tr>
      <td>{{each.name}}</td>
      <td>{{each.age}}</td>
    </tr>
    {% endfor %}
    </table>
    {% endif %}
  </body>
</html>
